
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491570460678'); /* IE9*/
  src: url('iconfont.eot?t=1491570460678#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491570460678') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491570460678') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491570460678#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before { content: "\e61b"; }

.icon-iconcommentalt:before { content: "\e70a"; }

.icon-paperplane:before { content: "\eb97"; }

.icon-fa-lock:before { content: "\e601"; }

.icon-twitter:before { content: "\e689"; }

.icon-areachart:before { content: "\e614"; }

.icon-github-copy:before { content: "\e608"; }

.icon-flask:before { content: "\ebe2"; }

.icon-linkedin:before { content: "\ee02"; }

.icon-facebook:before { content: "\ee75"; }

.icon-fontAwesome_file_alt:before { content: "\e822"; }

.icon-instagram:before { content: "\e79d"; }

